*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
}

.container {
  min-height: 60vh;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(14, 94, 47, 0.98);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(244, 246, 248);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  display: none;
}

.container__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  text-align: center;
  margin: 100px auto;
  display: grid;
}

.player__name {
  text-align: center;
  margin: 100px auto;
}

.board {
  position: relative;
  flex-basis: 200px;
}

.message {
  color: inherit;
  margin-top: 10px;
  font-family: "Chakra Petch", sans-serif;
}

.messageBox {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}

.messageBox__item {
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  box-shadow: none;
  border: none;
  color: rgb(244, 246, 248);
}

.button {
  padding: 10px 20px;
  background-color: white;
  color: rgb(14, 94, 47);
  border: none;
  cursor: pointer;
  max-width: fit-content;
  align-self: center;
}

.button:hover {
  background-color: rgb(218, 255, 226);
}

.button:active {
  background-color: rgb(175, 253, 192);
}

.drawButton {
  padding: 10px 20px;
  background-color: white;
  color: rgb(14, 94, 47);
  border: none;
  font-family: "Chakra Petch", sans-serif;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.drawButton:hover {
  background-color: rgb(218, 255, 226);
}

.drawButton:active {
  background-color: rgb(175, 253, 192);
}

.cardImage {
  width: 70px;
  height: 100px;
  position: absolute;
}

.backOfCard {
  width: 70px;
  height: 100px;
  transform: rotate(90deg);
  position: absolute;
}

.boardPlayer1__firstCard {
  width: 70px;
  height: 100px;
}

.boardPlayer2__firstCard {
  width: 70px;
  height: 100px;
}
